<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Punto de venta</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Fin</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let visitor of visitorRecords; let i = index">
      <th>{{i + 1}}</th>
      <th>{{visitor.pointOfSaleName}}</th>
      <th>{{visitor.visitTypeDescription}}</th>
      <th>{{visitor.startDate | date: 'short'}}</th>
      <th>{{visitor.endDate | date: 'short'}}</th>
    </tr>
  </tbody>
</table>